body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.count-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.count-disp {
  font-size: 3rem;
  margin: 0;
  color: #333;
}

.count-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.count-btn {
  padding: 20px 40px;
  font-size: 1rem;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
}
.count-btn-reset{
  padding: 20px 40px;
  font-size: 1rem;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;

}

.count-btn:hover {
  background-color: #0056b3;
}
